In [1]:
import pandas as pd

In [19]:
fn = '/mnt/data/group07/johannes/proc_data/politics_comments.csv'
# fn = '/mnt/data/group07/johannes/exp_data/politics_0.5/train.csv'

df = pd.read_csv(fn)

In [6]:
df[df['comment_id'] == 8442937]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,article_id,author_id,comment_id,timestamp,upvotes,comment_text,rank,total_upvotes,total_comments,rel_upvotes,class
29,45509,120120,1950440,1950440,18279,9807,8442937,2010-11-19T00:14:22Z,71,"eton was paid tax payers money , what society ...",5,532,10,13.345865,1
51303,157408,120120,1950440,1950440,18279,9807,8442937,2010-11-19T00:14:22Z,71,"eton was paid tax payers money , what society ...",5,532,10,13.345865,0

In [20]:
# pd.Series([1, 2, 3]).is_unique
df['comment_id'].is_unique

True

In [21]:
len(df['comment_id'].unique())

1372455

In [22]:
df.shape

(1372455, 8)